.hero-section {
    display: block;
    overflow: hidden;
    position: relative;

    .wp-block-cover__image-background {
        position: relative;
        @include transition(1s ease-in-out);
        opacity: 1;
        width: 100%;
    }
}

.hero-section .hero-overlay-img {
    display: none;
}