  .wc-block-grid__product {

    .wc-block-grid__product-title {
      margin-bottom: 0.4rem;
      text-transform: capitalize;
    }

    .wc-block-grid__product-price {
      margin-bottom: 0.4rem;
    }

    .wc-block-grid__product-image:not(.wc-block-components-product-image) {
      line-height: 0;
      margin-bottom: 1.4rem;
      position: relative;
    }
  }

  .wc-block-grid__products li {
    @include transition(0.5s ease-in-out);

    &:hover,
    &:focus {
      @include transform(translateY(-10px));
    }
  }

  li.product {
    @include transition(0.5s ease-in-out);

    &:hover,
    &:focus {
      @include transform(translateY(-10px));
    }
  }

  .wp-block-sidebar {
    .wp-block-widget>h2 {
      margin-bottom: var(--wp-custom-spacing--extra-small);
      padding-bottom: 0;
    }
  }

  .scroller-section .wc-block-grid__product-image {
    padding-bottom: 2.5rem;
    position: relative;
    z-index: 2;

    &:before {
      position: absolute;
      content: "";
      clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 75%, 76% 75%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
      height: 70%;
      width: 100%;
      @include border(1rem);
      bottom: 0;
      @include transition(0.5s ease-in-out);
      z-index: -1;
    }

    &:after {
      content: "";
      position: absolute;
      height: 12px;
      background: #000;
      @include transition(0.5s ease-in-out);
      top: 83%;
      left: 50%;
      @include border(70px);
      opacity: 0;
      filter: blur(22px);
      transform: translateX(-50%);
      width: 100px;
      z-index: 9;
    }

    img {
      @include transition(0.5s ease-in-out);
    }
  }

  .wc-block-featured-product,
  .wc-block-featured-category {
    .wc-block-featured-product__description {
      max-width: 750px;
    }

    .wp-block-button__link {
      margin: 0;
    }
  }

  // BEST SELLER

  .wc-block-grid__products {
    .star-rating {
      font-size: var(--wp--preset--font-size--normal);
      margin-left: 0;
    }

    .wc-block-grid__product {
      text-align: left;

      .wc-block-grid__product-title {
        font-family: var(--wp--preset--font-family--playfair-display);
      }

      .wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
        margin-left: 0 !important;
      }
    }
  }


  .scroller-section {
    .is-style-drinkify-lite-button.wp-block-button .wp-block-button__link {
      padding-right: 1.5rem;
      margin: 0;
    }

    .inner-wrap {

      overflow-x: scroll;
      -ms-overflow-style: none;
      overflow-y: auto;
      overscroll-behavior-x: contain;
      scroll-snap-type: x mandatory;
      padding-bottom: 1.5rem;
      scrollbar-width: 0;

      ul,
      a:-webkit-any-link {
        cursor: url(./assets/images/arrow-drag.png), auto;
        transition: all 0.2s;
        will-change: transform;
        fill: #fff;
        user-select: none;
      }


      &::-webkit-scrollbar {
        display: none
      }
    }

    [class*="has-"] ul.wc-block-grid__products {
      display: flex !important;
      flex-wrap: nowrap;

      .wc-block-grid__product {
        flex-basis: 80%;
      }
    }
  }

  li.product {

    .woocommerce-loop-product__title,
    .wp-block-post-title {
      font-size: var(--wp--preset--font-size--normal);
      font-family: var(--wp--preset--font-family--playfair-display);
      font-weight: var(--wp--custom--typography--font-weight--medium);
      padding-top: 0;
    }
  }

  .wc-block-featured-category__title {
    text-transform: capitalize;
  }

  // REVIEW

  .wc-block-components-review-list {
    display: grid;
    grid-gap: var(--wp--custom--spacing--normal);
    grid-template-columns: 1fr;
    padding: 0;

    .wc-block-review-list-item__product a {
      text-decoration: none;
    }

    .wc-block-review-list-item__author {
      font-size: var(--wp--preset--font-size--medium);
    }

    .wc-block-review-list-item__published-date {
      font-size: var(--wp--preset--font-size--extra-small);
    }

    li {
      margin: 0;
      @include flex;
      flex-direction: column-reverse;
      @include transition(0.5s ease-in-out);

      &:hover {
        @include transform(scale(1.1))
      }

      .wc-block-components-review-list-item__text {
        padding: var(--wp--custom--spacing--normal);
        padding-top: calc(var(--wp--custom--spacing--normal) * 2);
        position: relative;

        &:before {
          content: "\201C";
          display: block;
          font-family: "Arial";
          font-size: 94px;
          font-size: 5.875rem;
          left: var(--wp--custom--spacing--normal);
          line-height: 0;
          position: absolute;
          top: 4.5rem;
        }
      }

      .wc-block-components-review-list-item__image {
        height: 4.55rem;
        width: 4.55rem;

        img {
          @include border(50%);
        }
      }

      .wc-block-components-review-list-item__meta {
        padding-left: 2rem;
        margin-top: 0.5rem;
      }

      .wc-block-components-review-list-item__rating {
        width: 100%;
        margin: 0.5rem 0;
      }

      .wc-block-components-review-list-item__info {
        margin: 0;
        padding: var(--wp--custom--spacing--normal);
        position: relative;

        .wc-block-components-review-list-item__author {
          text-transform: capitalize;
        }

        &:before {
          background-color: var(--wp--preset--color--secondary-bg-color);
          content: "";
          height: 100%;
          left: 0;
          opacity: 0.4;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: -1;
        }
      }
    }
  }


  .wc-block-reviews-by-product .wc-block-review-list-item__author {
    font-size: var(--wp--preset--font-size--normal);
  }

  .scroller-section .wc-block-grid__product {
    @include transition(0.5s ease-in-out);

    &:hover {
      .wc-block-grid__product-image:before {
        height: 95%;
        clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
      }

      .wc-block-grid__product-image:after {
        opacity: 1;
      }

      img {
        @include transform(rotate3d(1, 1, 1, 16deg) scale(0.8));
      }
    }

    &:hover,
    &:focus {
      @include transform(translateY(-10px));
    }

  }